* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  background: url("./topBlob.svg"), url("./downBlob.svg");
  background-repeat: no-repeat;
  background-size: 25rem;
  background-position: top right, bottom left;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.score-form-container {
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
  height: 100vh;
}

.title {
  font-size: 40px;
}

.recent-scores-div {
  gap: 10px;
  margin-top: 30px;
}

.refresh-btn {
  padding: 0 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(247, 229, 149);
  box-shadow: 1px 1px 5px gray;
}

.display-scores {
  border: 1px solid rgb(189, 185, 185);
  margin-top: 10px;
  border-radius: 5px;
}

.score-list {
  list-style-type: none;
  padding: 10px;
}

.score-list li {
  background-color: aliceblue;
  margin: 10px 0;
  padding: 10px;
}

.form h2 {
  margin-top: 80px;
}

.form div {
  margin-top: 10px;
  width: 50vw;
}

.input-field {
  padding: 10px;
  width: 50vw;
  border: 1px solid rgb(189, 187, 187);
  outline: none;
}

.submit-btn {
  padding: 10px 30px;
  cursor: pointer;
  background-color: rgb(119, 187, 247);
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
}
